:root {
    --primary-text-color: #757575;
    --primary-background-color: #E5E5E5;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --primary-section-color: #2F303A;
    --primary-title-color: #212121;
    --primary-black-color: #000000;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: Roboto, Helvetica, sans-serif;
}

.hide {
    display: none;
}

.list {
    list-style: none;
}

  /* Site nav*/ 

.logo {
    color: var(--primary-black-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.web-logo{
    color: var(--accent-color);
}

.studio-logo {
    color: var(--primary-white-color);
}

.site-nav .link{
    color: var(--primary-title-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.contact-nav .link {
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contact-nav .link:hover,
.contact-nav .link:focus {
    color: var(--accent-color);
}

.title {
    color: var(--primary-title-color);
}

 /*Hero*/

.hero-title {
    color: var(--primary-white-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
}

 /*Skills*/

.skills .title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.skills .paper { 
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

 /*Work*/

.work .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

 /*Team*/

.team .main-title { 
    color: var(--primary-black-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

.team .title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.team .paper {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

 /*Button*/

.primary-button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.primary-button:hover,
.primary-button:focus {
    background-color: var(--accent-color);
}

.portfolio-button {
    color: var(--primary-title-color);
    background-color: #F5F4FA;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

.filters .portfolio-button:hover,
.filters .portfolio-button:focus {
    background-color :var(--accent-color);
}

 /*Projects*/

.projects .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects .paper {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

 /*Footer nav*/

 .footer-nav {
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.7;
}

.footer-nav .link {
    color: #FFFFFF99;
}

.footer-nav .link:hover,
.footer-nav .link:focus {
    color :var(--accent-color);
}